@import url("https://fonts.cdnfonts.com/css/cascadia-code");

/* Tema oscuro */
@media (prefers-color-scheme: dark) {
    /* Resoluci贸n 1440p */
    @media (min-width: 1302px) {
        :root {
            background-image: url("./Assets/Wallpaper/black_arena.jpg");
            background-size: contain;
            font-family: "cascadia code", cursive;
            scale: 0.7;
        }

        .busq {

            font-family: cascadia code;
            font-size: 40px;
            color: aliceblue;
            background-color: rgba(202, 187, 126, 0.015);
            backdrop-filter: blur(5px);
            border: 4px groove rgb(153, 153, 153);
            border-radius: 25px;
            padding: 10px;
            width: 50%;
            height: 100%;
            resize: none;
            outline: none;
            scale: 1;
            transition: 0.5s;
            margin-bottom: 50px;


        }

        .busq:hover {
            transition: 0.5s;
            border: 4px groove rgb(153, 153, 153);
            scale: 1.2;
            background-color: rgba(153, 153, 153, 0.373);
            color: white;
            box-shadow: 0 0 300px rgb(255, 255, 255);
        }

        .busq:focus {
            transition: 0.5s;
            border: 4px groove rgb(153, 153, 153);
            scale: 1.2;
            background-color: rgba(153, 153, 153, 0.201);
            color: white;
            box-shadow: 0 0 300px rgb(255, 255, 255);
        }

        .cards {
            display: grid;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            justify-content: center;
            grid-template-columns: auto auto auto auto auto auto auto;
            gap: 20px;
        }

        .card {
            position: static;
            width: 32vh;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 12px;
            gap: 12px;
            border-radius: 8px;
            cursor: pointer;
            backdrop-filter: blur(4px);
            scale: 1;
        }

        .card img:hover {
            transition: 1s;
            scale: 0.9;
        }

        .card img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
            scale: 0.6;
        }

        .card::before {
            content: "";
            position: absolute;
            inset: 0;
            left: -5px;
            margin: auto;
            width: 32vh;
            height: 30vh;
            border-radius: 50px;
            background-color: #1d151bc4;
            backdrop-filter: blur(5px);
            opacity: 0.2;
            z-index: -10;
            pointer-events: none;
            transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        .card:hover::after {
            filter: blur(30px);
            box-shadow: 0 0 100px rgb(255, 255, 255);
        }

        .card:hover::before {
            transition: 1s;
            transform: rotateY(180deg) rotateZ(180deg);
        }

        .card::after {
            content: "";
            z-index: -1;
            position: absolute;
            inset: 0;
            transform: translate3d(0, 0, 0) scale(0.95);
            filter: blur(20px);
        }

        .card-content {
            text-align: end;
        }

        #title {
            font-family: "cascadia code", cursive;
            color: lightseagreen;
            scale: 1.5;
        }


    }

    /* Resoluci贸n 1080p */
    @media (max-width: 2559px) {
        :root {
            background-image: url("./Assets/Wallpaper/black_arena.jpg");
            background-size: contain;
            font-family: "cascadia code", cursive;
            scale: 0.7;
        }

        .busq {

            font-family: cascadia code;
            font-size: 40px;
            color: aliceblue;
            background-color: rgba(202, 187, 126, 0.015);
            backdrop-filter: blur(5px);
            border: 4px groove rgb(153, 153, 153);
            border-radius: 25px;
            padding: 10px;
            width: 50%;
            height: 100%;
            resize: none;
            outline: none;
            scale: 1;
            transition: 0.5s;
            margin-bottom: 50px;

        }

        .busq:hover {
            transition: 0.5s;
            border: 4px groove rgb(153, 153, 153);
            scale: 1.2;
            background-color: rgba(153, 153, 153, 0.373);
            color: white;
            box-shadow: 0 0 300px rgb(255, 255, 255);
        }

        .busq:focus {
            transition: 0.5s;
            border: 4px groove rgb(153, 153, 153);
            scale: 1.2;
            background-color: rgba(153, 153, 153, 0.201);
            color: white;
            box-shadow: 0 0 300px rgb(255, 255, 255);
        }

        .cards {
            display: grid;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            justify-content: center;
            grid-template-columns: auto auto auto auto auto auto auto;
            gap: 20px;
        }

        .card {
            position: static;
            width: 32vh;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 12px;
            gap: 12px;
            border-radius: 8px;
            cursor: pointer;
            backdrop-filter: blur(4px);
            scale: 1;
        }

        .card img:hover {
            transition: 1s;
            scale: 0.9;
        }

        .card img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
            scale: 0.6;
        }

        .card::before {
            content: "";
            position: absolute;
            inset: 0;
            left: -5px;
            margin: auto;
            width: 32vh;
            height: 30vh;
            border-radius: 50px;
            background-color: #1d151bc4;
            backdrop-filter: blur(5px);
            opacity: 0.2;
            z-index: -10;
            pointer-events: none;
            transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        .card:hover::after {
            filter: blur(30px);
            box-shadow: 0 0 100px rgb(255, 255, 255);
        }

        .card:hover::before {
            transition: 1s;
            transform: rotateY(180deg) rotateZ(180deg);
        }

        .card::after {
            content: "";
            z-index: -1;
            position: absolute;
            inset: 0;
            transform: translate3d(0, 0, 0) scale(0.95);
            filter: blur(20px);
        }

        .card-content {
            text-align: end;
        }

        #title {
            font-family: "cascadia code", cursive;
            color: lightseagreen;
            scale: 1.5;
        }


    }
}

/* Tema claro */
@media (prefers-color-scheme: light) {
    /* Resoluci贸n 1440p */
    @media (min-width: 2560px) {
        :root {
            background-image: url("./Assets/Wallpaper/rainbow.jpg");
            background-size: contain;
            font-family: "cascadia code", cursive;
            scale: 0.7;
        }

        .busq {

            font-family: cascadia code;
            font-size: 40px;
            color: rgb(0, 0, 0);
            background-color: #1d151b1e;
            backdrop-filter: blur(5px);
            border: 4px groove rgb(153, 153, 153);
            border-radius: 25px;
            padding: 10px;
            width: 50%;
            height: 100%;
            resize: none;
            outline: none;
            scale: 1;
            transition: 0.5s;
            margin-bottom: 50px;

        }

        .busq:hover {
            transition: 0.5s;
            border: 4px groove rgb(153, 153, 153);
            scale: 1.2;
            background-color: rgba(153, 153, 153, 0.373);
            color: rgb(0, 0, 0);
            box-shadow: 0 0 300px rgb(0, 0, 0);
        }

        .busq:focus {
            transition: 0.5s;
            border: 4px groove rgb(153, 153, 153);
            scale: 1.2;
            background-color: rgba(153, 153, 153, 0.201);
            color: rgb(0, 0, 0);
            box-shadow: 0 0 300px rgb(0, 0, 0);
        }

        .cards {
            display: grid;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            justify-content: center;
            grid-template-columns: auto auto auto auto auto auto auto;
            gap: 20px;
        }

        .card {
            position: static;
            width: 32vh;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 12px;
            gap: 12px;
            border-radius: 8px;
            cursor: pointer;
            backdrop-filter: blur(4px);
            scale: 1;
        }

        .card img:hover {
            transition: 1s;
            scale: 0.9;
        }

        .card img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
            scale: 0.6;
        }

        .card::before {
            content: "";
            position: absolute;
            inset: 0;
            left: -5px;
            margin: auto;
            width: 32vh;
            height: 30vh;
            border-radius: 50px;
            background-color: #1d151bc4;
            backdrop-filter: blur(5px);
            opacity: 0.2;
            z-index: -10;
            pointer-events: none;
            transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        .card:hover::after {
            filter: blur(30px);
            box-shadow: 0 0 100px rgb(0, 0, 0);
        }

        .card:hover::before {
            transition: 1s;
            transform: rotateY(180deg) rotateZ(180deg);
        }

        .card::after {
            content: "";
            z-index: -1;
            position: absolute;
            inset: 0;
            transform: translate3d(0, 0, 0) scale(0.95);
            filter: blur(20px);
        }

        .card-content {
            text-align: end;
        }

        #title {
            font-family: "cascadia code", cursive;
            color: lightseagreen;
            scale: 1.5;
        }
    }

    /* Resoluci贸n 1080p */
    @media (max-width: 2559px) {
        :root {
            background-image: url("./Assets/Wallpaper/rainbow.jpg");
            background-size: contain;
            font-family: "cascadia code", cursive;
            scale: 0.7;
        }

        .busq {

            font-family: cascadia code;
            font-size: 40px;
            color: rgb(0, 0, 0);
            background-color: rgba(202, 187, 126, 0.015);
            backdrop-filter: blur(5px);
            border: 4px groove rgb(153, 153, 153);
            border-radius: 25px;
            padding: 10px;
            width: 50%;
            height: 100%;
            resize: none;
            outline: none;
            scale: 1;
            transition: 0.5s;
            margin-bottom: 50px;

        }

        .busq:hover {
            transition: 0.5s;
            border: 4px groove rgb(153, 153, 153);
            scale: 1.2;
            background-color: rgba(153, 153, 153, 0.373);
            color: rgb(0, 0, 0);
            box-shadow: 0 0 300px rgb(0, 0, 0);
        }

        .busq:focus {
            transition: 0.5s;
            border: 4px groove rgb(153, 153, 153);
            scale: 1.2;
            background-color: rgba(153, 153, 153, 0.201);
            color: rgb(0, 0, 0);
            box-shadow: 0 0 300px rgb(0, 0, 0);
        }

        .cards {
            display: grid;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            justify-content: center;
            grid-template-columns: auto auto auto auto auto auto auto;
            gap: 20px;
        }

        .card {
            position: static;
            width: 32vh;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 12px;
            gap: 12px;
            border-radius: 8px;
            cursor: pointer;
            backdrop-filter: blur(4px);
            scale: 1;
        }

        .card img:hover {
            transition: 1s;
            scale: 0.9;
        }

        .card img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
            scale: 0.6;
        }

        .card::before {
            content: "";
            position: absolute;
            inset: 0;
            left: -5px;
            margin: auto;
            width: 32vh;
            height: 30vh;
            border-radius: 50px;
            background-color: #1d151bc4;
            backdrop-filter: blur(5px);
            opacity: 0.2;
            z-index: -10;
            pointer-events: none;
            transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        .card:hover::after {
            filter: blur(30px);
            box-shadow: 0 0 100px rgb(0, 0, 0);
        }

        .card:hover::before {
            transition: 1s;
            transform: rotateY(180deg) rotateZ(180deg);
        }

        .card::after {
            content: "";
            z-index: -1;
            position: absolute;
            inset: 0;
            transform: translate3d(0, 0, 0) scale(0.95);
            filter: blur(20px);
        }

        .card-content {
            text-align: end;
        }

        #title {
            font-family: "cascadia code", cursive;
            color: lightseagreen;
            scale: 1.5;
        }
    }
}